@media (max-width: 959px) {
    .page {
        padding-left: 16.4rem;
    }

    .sidebar {
        width: 16.4rem;
    }
}

@media (max-width: 719px) {
    .navbar {
        padding-left: 4rem;
    }

    .sidebar-button {
        display: block;
    }

    .sidebar {
        top: 0;
        padding-top: 3.6rem;
        transform: translateX(-100%);
        transition: transform 0.2s ease;
    }

    .open .sidebar {
        transform: translateX(0);
    }

    .page {
        padding-left: 0;
    }
}